{% extends 'base.html.twig' %}
{% block title %}
Nuestro equipo
{% endblock %}

{% block body %}

<div class="container">

 <h1 class="mt-4 mb-3">BarberZone
    <small>locales</small>
 </h1>
          
<!-- Bar Mar Del Plata -->
    {% if sitiotwig == 'mdp' or sitiotwig == 'todos' %}
    <div class="row">
    <!-- Map Column -->
    <div class="col-lg-8 mb-4">
        <!-- Embedded Google Map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.2285814274396!2d-57.54605768488267!3d-38.01845025355587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc2f91109edb%3A0xe6fc741ceea5d9bf!2sMart%C3%ADn+Miguel+de+G%C3%BCemes+3250%2C+B7602DAJ+Mar+del+Plata%2C+Pcia+de+Buenos+Aires!5e0!3m2!1sen!2sar!4v1540497180908" width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>    </div>
    <!-- Contact Details Column -->
    <div class="col-lg-4 mb-4">
        <h3>Detalles del contacto</h3>
        <p>
        Güemes 3250
        <br>Mar Del Plata, 7600
        <br>
        </p>
        <p>
        <abbr title="Teléfono">P</abbr>: +549 223 683-8077
        </p>
        <p>
        <abbr title="Email">E</abbr>:
        <a href="mailto:tomassaez1234@gmail.com">tomassaez1234@gmail.com
        </a>
        </p>
        <p>
        <abbr title="Horas">H</abbr>: Lunes - Viernes: 9:00 AM a 5:00 PM
        </p>
    </div>
    </div>
    <!-- /.row -->
    {% endif %}

    <!-- Bar Pinamar -->
    {% if sitiotwig == 'pin' or sitiotwig == 'todos' %}
    <div class="row">
    <!-- Map Column -->
    <div class="col-lg-8 mb-4">
        <!-- Embedded Google Map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d2249.849886866436!2d-56.8687895797432!3d-37.11063436813152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d-37.1100509!2d-56.8675509!5e0!3m2!1sen!2sar!4v1540503087818" width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <!-- Contact Details Column -->
    <div class="col-lg-4 mb-4">
        <h3>Detalles del contacto</h3>
        <p>
        Av. Constitución 1069
        <br>Pinamar
        <br>
        </p>
        <p>
        <abbr title="Teléfono">P</abbr>: +549 223 683-8077
        </p>
        <p>
        <abbr title="Email">E</abbr>:
        <a href="mailto:tomassaez1234@gmail.com">tomassaez1234@gmail.com
        </a>
        </p>
        <p>
        <abbr title="Horas">H</abbr>: Lunes - Viernes: 9:00 AM a 5:00 PM
        </p>
    </div>
    </div>
    <!-- /.row -->
    {% endif %}

    <!-- Bar Santa Clara -->
    {% if sitiotwig == 'scl' or sitiotwig == 'todos' %}
    <div class="row">
    <!-- Map Column -->
    <div class="col-lg-8 mb-4">
        <!-- Embedded Google Map -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d4329.703432522072!2d-57.50497895974198!3d-37.83048796821918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d-37.829961499999996!2d-57.5040876!5e0!3m2!1sen!2sar!4v1540503168626" width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <!-- Contact Details Column -->
    <div class="col-lg-4 mb-4">
        <h3>Detalles del contacto</h3>
        <p>
        Av. Montecarlo 587
        <br>Santa Clara del Mar
        <br>
        </p>
        <p>
        <abbr title="Teléfono">P</abbr>: +549 223 683-8077
        </p>
        <p>
        <abbr title="Email">E</abbr>:
        <a href="mailto:tomassaez1234@gmail.com">tomassaez1234@gmail.com
        </a>
        </p>
        <p>
        <abbr title="Horas">H</abbr>: Lunes - Viernes: 9:00 AM a 5:00 PM
        </p>
    </div>
    </div>
    <!-- /.row -->
    {% endif %}

 </div>
{% endblock %}    