{% extends 'base.html.twig' %}

{% block title %}
Cortes ;)
{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Nuestros cortes</h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="{{asset(corteImg~corte.foto)}}" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">{{ corte.nombre }}</h3>
          <p>{{ corte.descripcion }}</p>
          <h3 class="my-3">Instrumentos utilizados</h3>
            {% for herramienta in corte.herramientas %} 
        {{ herramienta.nombre }}<br>
        {% endfor %}
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Related Projects</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}