{% extends 'base.html.twig' %}

{% block title %}
herramientas ;)
{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Nuestras herramientas</h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <h3 class="my-3">{{ herramienta.nombre }}</h3>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}