{% extends 'base.html.twig' %}

{% block title %}
Nuestro equipo
{% endblock %}

{# contenido #}
{% block body %}

    <!-- Page Content -->
    <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">BarberZone
    <small>Nosotros</small>
    </h1>

    <img class="img-fluid rounder mb-4" src=" {{ asset('img/nosotrosBanner.jpg') }}" alt="Barbershop">
        
        <h2>Nuestro equipo</h2>
        
        <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="{{ asset('img/barber1.jpg')}}" alt="Barber1">
            <div class="card-body">
            <h4 class="card-title">Jeremías Gutierrez</h4>
              <p class="card-text">Jeremías es considerado el más proactivo de nuestra gran barbería, 
              realiza increíbles diseños para cortes de pelo y sobre todo con suma modernidad. 
              Si quieres lucirte a la moda, Jeremías es tu opción.</p>
            </div>
            <div class="card-footer">
              <a href="#">gutierrez_jere@hotmail.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="{{ asset('img/barber2.jpg')}}" alt="Barber2">
            <div class="card-body">
                <h4 class="card-title">Julián Vasquez</h4>
              <p class="card-text">Julián es el tipo de barbero que te asegura salir a la calle con un 
              corte que te haga sentir cómodo, nada de arriesgarse a pasar el ridículo, si quieres 
              un corte clásico y cómodo, Julián es tu hombre.</p>
            </div>
            <div class="card-footer">
              <a href="#">julianvasquez1234@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="{{ asset('img/barber3.jpg')}}" alt="Barber3">
            <div class="card-body">
              <h4 class="card-title">Josué Oriaga</h4>
              <p class="card-text">Josué nació en la ciudad de Buenos Aires, a la edad de doce años 
              se mudó a Córdoba en donde terminó sus estudios y comenzó la facultad de Barbería en la 
              Universidad Nacional de Córdoba. Si me preguntan sobre su carácter puedo decir que es una 
              gran persona, pero sobre todo es muy serio.</p>
            </div>
            <div class="card-footer">
              <a href="#">josueori87@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
{% endblock %}