<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

<h1 class="text-center"><strong>Próximamente</strong></h1>
<h3 class="text-center">Muchísimas gracias por visitar mi página.</h3>
<h3 class="text-center">Este proyecto se encuentra en desarrollo y solo debe ser utilizado como una prueba.</h3>
<h3 class="text-center">Si te interesa dejarme feedback para poder mejorar aunque sea en lo más mínimo, este es mi gmail: tomassaez1234@gmail.com</h3>
<a href="{{path('welcome')}}"><center>Volver al Index</center></a>




